@charset "UTF-8";
html {
  font: 400 1em/1.33 "Times New Roman";
  background-color: #191919;
}

body {
  padding-bottom: 3em;
}

.profile {
  background: url("https://www.toperfect.com/pic/Oil%20Painting%20Styles%20on%20Canvas/Animals/Monkey/5-monkey-playing-guitar-and-parrots.jpg") center 30%;
  box-shadow: inset 0 0 5em 1em #000;
  height: 50vh;
  background-size: cover;
}

.profile {
  width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
}

hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #cccccc;
}

article {
  color: #ccc;
}

article {
  margin-left: 50%;
  position: relative;
  max-width: 66em;
}

header {
  text-align: center;
  padding: 0 2em;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
}
h1 .headline-1,
h1 .headline-2 {
  line-height: 1;
}
h1 .headline-1 {
  font-size: 10.5vw;
}
h1 .headline-2 {
  font-size: 8vw;
}

.subheading {
  color: #ccc;
  font-size: 1.5em;
  max-width: 25em;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1.5em;
}

section {
  column-width: 14em;
  column-gap: 1.33em;
  padding: 0 3em;
}
section p:first-of-type:first-letter {
  float: left;
  font-size: 7em;
  line-height: 1;
  margin-top: -0.2em;
  margin-bottom: -0.2em;
  margin-right: 0.1em;
}

img {
  max-width: 100%;
  margin-bottom: 1.33em;
  vertical-align: middle;
}

blockquote {
  border-left: 0.5em solid #ccc;
  font-size: 1.5em;
  padding: 0.5em;
  line-height: 1.2;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  right: 100%;
  top: 200vh;
  width: 9em;
  background: #191919;
}
blockquote::before, blockquote::after {
  color: #ccc;
  font-size: 1.25em;
  line-height: 0;
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
